NEXT_PUBLIC_SUPABASE_URL=https://nacho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hY2hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODA2MzY1MjMsImV4cCI6MTk5NjIxMjUyNH0.LCH-2g3_wbnQCN_hoScnuaejdc6ylcQDoeIdxX-OObE